$img-path: ../images/;
$loading-transition-time: .75s;

$gray-dark: #222;
$orange: #e49e4c;


@custom-media --large-viewport (width >= 1200px);
@custom-media --medium-viewport (640px < width < 1200px);
@custom-media --small-viewport (width <= 640px);
