body {
  color: #ddd;
  background-color: $gray-dark;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.portrait {
    margin: 60px auto -14px;
    background: url("$(img-path)coding.jpg") top center no-repeat;
    height: 210px;
}
