body {
  color: #ddd;
  background-color: #222;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.portrait {
    margin: 20px auto -38px;
    background: url("$(img-path)coding.jpg") top center no-repeat;
    height: 210px;
}
