.console.module-fade
  pre: code(class=`language-jade`).
    doctype html
    html(lang='en')
      head
        title Alejandro Cuba Ruiz
        - var metadata = {
            description: "Principal Front End Engineer, Angular Community Meetup Co-organizer, ngChampion for ng-conf",
            location: "Miami Beach, FL",
          }
        for content, name in metadata
          meta(name=name, content=content)

      body
        main
          ul.blog
            li https://medium.com/@alejandrocuba
            li#scifi(lang='es') https://www.zorphdark.com/
            li#photoblog https://www.instagram.com/alejandrocubaruiz/

          ul.social
            li https://linkedin.com/in/alejandrocuba
            li https://twitter.com/zorphdark
            li https://meetup.com/angularcommunity/

          section.portfolio
            for work, index in creativeworks
              +creativework(work, index)
