.console.module-fade
  pre: code(class=`language-jade`).
    doctype html
    html(lang='en')
      head
        title Alejandro Cuba's portfolio
        - var metadata = {
            description: "Front-End Web Engineer",
            location: "Miami, FL",
            keywords: "HTML, CSS, JavaScript"
          }
        for content, name in metadata
          meta(name=name, content=content)

      body
        main
          ul.social
            li http://linkedin.com/in/alejandrocuba
            li http://twitter.com/zorphdark
            li http://facebook.com/zorphdark
            li http://github.com/zorphdark

          h1.title Portfolio items
          section.portfolio
            for work, index in creativeworks
              +creativework(work, index)
