include setup/path

doctype html
html(lang='en')
  head
    include resources/metadata
    include resources/favicon
    include resources/styles
    include resources/headjs

  body.is-loading
    main
      block content

    include ../_components/footer
    include resources/scripts
