include setup/path

doctype html
html(lang='en')
  head
    include resources/metadata
    include resources/favicon
    include resources/styles
    include resources/headjs

    //- preload js
    <!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->

  body.is-loading
    main
      block content

    include ../_components/footer
    include resources/scripts
