script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "@id": "http://linkedin.com/in/alejandrocuba",
    "name": "Alejandro Cuba",
    "url": "http://www.alejandrocuba.com",
    "email": "mailto:alejandrocubaruiz@gmail.com",
    "image": "https://media.licdn.com/dms/image/C4E03AQE5fWYMtz-ffA/profile-displayphoto-shrink_400_400/0/1552325178558?e=1681344000&v=beta&t=4WQljmcKf7uOcEBq76FC5UOUHtajT9Don9_b1_2c4Ps",
    "jobTitle": "Front-End Web Developer",
    "birthDate": "1985-11-11",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Miami Beach",
      "addressRegion": "FL"
    }
  }

script.
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
  }
