-
  var metadata = {
    viewport: "width=device-width, initial-scale=1.0",
    description: "Principal Front-End Engineer, Google Developer Expert in Angular, and ng-Champion based in Miami Beach, FL.",
    keywords: "front-end web engineering, frontend, html5, css, javascript, zorphdark, miami, havana, angular, gde",
    author: "@zorphdark",
    "theme-color": "#000000"
  }

-
  var social = {
    "og:title": "Alejandro Cuba Ruiz | Principal Front-End Engineer",
    "og:description": "Explore the creative portfolio of Alejandro Cuba Ruiz, GDE in Angular and ng-Champion.",
    "og:type": "website",
    "og:url": "https://alejandrocuba.com",
    "og:image": "https://alejandrocuba.com/assets/images/og-image.jpg",
    "twitter:card": "summary_large_image",
    "twitter:site": "@zorphdark",
    "twitter:creator": "@zorphdark"
  }

meta(charset='UTF-8')
title Alejandro Cuba Ruiz | Principal Front-End Engineer

for content, name in metadata
  meta(name=name, content=content)

for content, property in social
  meta(property=property, content=content)

link(type="text/plain", rel="robots", href="/robots.txt")
link(type="text/plain", rel="author", href="/humans.txt")
link(rel="canonical", href="https://alejandrocuba.com/")