-
  var metadata = {
    viewport: "width=device-width, initial-scale=1.0",
    description: "Explore the creative portfolio of Alejandro Cuba Ruiz",
    keywords: "front-end web engineering, frontend, html5, css, javascript, zorphdark, miami, havana",
    author: "@zorphdark"
  }

meta(charset='UTF-8')
title Alejandro Cuba Ruiz

for content, name in metadata
  meta(name=name, content=content)