-
  var metadata = {
    viewport: "width=device-width, initial-scale=1.0",
    description: "Front-End Web Developer based in Portland, OR",
    keywords: "front-end web development, frontend, html5, css3, css4, javascript, es6, portland, oregon, havana, cuba",
    author: "@zorphdark"
  }

meta(charset='UTF-8')
title Alejandro Cuba portfolio

for content, name in metadata
  meta(name=name, content=content)
