include ../setup/path

-
  var scripts = [
    'https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.3.4/js/lightcase.min.js',
    path.js + "scripts.min.js"
  ]

block scripts
  //- Google tag
  script(async, src="https://www.googletagmanager.com/gtag/js?id=G-XJEFKVEFGM")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-XJEFKVEFGM');

  script(src="//code.jquery.com/jquery-2.2.4.min.js")

  for href in scripts
    script(src=href async)
