-
  var social = {
    "og:title": "Alejandro Cuba Ruiz | Principal Front-End Engineer",
    "og:description": "Explore the creative portfolio of Alejandro Cuba Ruiz, GDE in Angular and ng-Champion.",
    "og:type": "website",
    "og:url": "https://alejandrocuba.com",
    "og:image": "https://alejandrocuba.com/assets/images/og-image.jpg",
    "og:locale": "en_US",
    "twitter:card": "summary_large_image",
    "twitter:site": "@zorphdark",
    "twitter:creator": "@zorphdark",
    "twitter:title": "Alejandro Cuba Ruiz | Principal Front-End Engineer",
    "twitter:description": "Explore the creative portfolio of Alejandro Cuba Ruiz, GDE in Angular and ng-Champion.",
    "twitter:image": "https://alejandrocuba.com/assets/images/og-image.jpg"
  }

for content, property in social
  if property.startsWith('og:')
    meta(property=property, content=content)
  else
    meta(name=property, content=content)
