//- Open Graph tags
meta(property="og:title", content="Alejandro Cuba Ruiz website")
meta(property="og:description", content="Get in touch with Alejandro Cuba Ruiz")
meta(property="og:image", content="https://1drv.ms/i/s!Am6klHq81X7tjdxC_TR4QoHYmsqvjA?e=mqxD3Y")
meta(property="og:url", content="http://www.alejandrocuba.com")
meta(property="og:type", content="website")
meta(property="og:locale", content="en_US")

//- Twitter Card tags
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@zorphdark")
meta(name="twitter:title", content="Alejandro Cuba Ruiz website")
meta(name="twitter:description", content="Get in touch with Alejandro Cuba Ruiz")
meta(name="twitter:image", content="https://1drv.ms/i/s!Am6klHq81X7tjdxC_TR4QoHYmsqvjA?e=mqxD3Y")
