include ../setup/path
link(rel='preconnect', href='https://fonts.googleapis.com')
link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
link(rel='preconnect', href='https://cdnjs.cloudflare.com')

-
  var styles = [
    'https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap',
    'https://cdnjs.cloudflare.com/ajax/libs/godlike.css/3.0.0/godlike.min.css', // reset
    path.css + "styles.css"
  ]

block styles
  for href in styles
    link(rel='stylesheet', href=href)
