<!DOCTYPE html>
<html lang="es">
<head>
	{% include resources/metadata.html %}
	{% include resources/favicon.html %}
	{% include resources/styles.html %}
	{% include resources/ie.html %}
	{% include resources/scripts_header.html %}
</head>

<body id="home" role="document">
	<a href="#content" class="sr-only">Skip to main content</a>

	{% include components/header.html %}

	{% comment %}{% include components/navbar.html %}{% endcomment %}

	{{ content }}
	
	{% include components/footer.html %}

	{% include resources/scripts.html %}
</body>
</html>
