<!DOCTYPE html>
<html lang="es">
<head>
	{% include resources/metadata.html %}
	{% comment %}{% include resources/favicon.html %}{% endcomment %}
	{% include resources/styles.html %}
	{% comment %}{% include resources/ie.html %}{% endcomment %}
	{% comment %}{% include resources/scripts_header.html %}{% endcomment %}
</head>

<body id="home" role="document">
	{% comment %}<a href="#content" class="sr-only">Skip to main content</a>{% endcomment %}

	{{ content }}

	{% comment %}{% include resources/scripts.html %}{% endcomment %}
</body>
</html>
