		
	<div id="navbar" class="navbar navbar-fixed-top striped large affix-top" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="navbar-header">
						
					</div>
				</div>
				<nav class="col-sm-7 col-md-6">
					<ul class="nav navbar-nav">
						<li class="active hidden-xs"><a href="#home"><span>Home</span></a></li>
						<li class="hidden-xs"><a href="#services"><span>Services</span></a></li>
						<li><a href="#portfolio"><span>Portfolio</span></a></li>
						<li><a href="#contact"><span>Contact <span class="hidden-sm">us</span></span></a></li>
					</ul>
				</nav>
				<div class="toolbar-wrapper col-md-3">
					<ul class="toolbar">
						<li class="hidden-xs"><a href="#"><span><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></span></a></li>
						<li class="hidden-xs"><a href="#"><span><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></span></a></li>
						{% comment %}<li><a href="#"><span>EN</span></a></li>
						<li class="active"><a href="#"><span>ES</span></a></li>{% endcomment %}
					</ul>
				</div>
			</div>
		</div>
	</div>