.console {
  font-family: "Roboto Mono", sans-serif;
  font-size: .93em;

  @nest main > & {
    max-width: 640px;
    margin: 0 auto 60px;
  }

  pre {
    margin: 0 20px .5em;
    padding: 1em;
    overflow: auto;
    border: none;
    border-top: 3px solid $orange;
    border-radius: 0 0 5px 5px;
    transition: background-color ease-out .25s;
    background: #292929;
    cursor: text;
    word-wrap: normal;
    line-height: 1.5;

    &:hover {
      background-color: #2d2d2d;
    }
  }
}

.token.url-link {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
