.console {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1em;
  transition: all ease-out $loading-transition-time;
  transform-origin: 50% 50%;

  @nest .is-loading & {
    opacity: 0;
    transform: scale(1.05);
  }

  @nest main > & {
    max-width: 640px;
    margin: 0 auto 60px;
  }
}

pre[class*=language-] {
  margin: 0;
  padding: 1em;
  overflow: auto;
  border: none;
  transition: background-color ease-out .25s;
  background: #292929;
  cursor: text;
  word-wrap: normal;
  line-height: 1.5;
  border-top: 3px solid $orange;
  border-radius: 0;

  code {
    white-space: pre-wrap;
  }

  @nest main & {
    margin: 0 20px .5em;
    border-radius: 0 0 5px 5px;
  }

  &:hover {
    background-color: #2d2d2d;
  }
}

.token.url-link {

  @media (--small-viewport), (--medium-viewport) {
    line-height: 2.5;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
