.site-footer {
  flex-grow: 0;
  background-color: black;
  text-align: center;
  padding: 2em;
  cursor: default;
  color: #aaa;

  p {
    margin: 0;
  }

  b {
    color: #ddd;
    font-weight: normal;
  }
}
