#lightcase-overlay {
  background-image: url("$(img-path)overlay.png");
}
#lightcase-info {
  display: none;
}
.lightcase {
  &-contentInner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &-icon-close {
    display: none !important;
  }
}
