.portfolio {
  @mixin clearfix;
  transition: all ease-out $loading-transition-time;

  @nest .is-loading & {
    opacity: 0;
    transform: translate(0, 40px);
  }

  article {
    position: relative;
    background-color: #222;

    &::before {
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      content: "";
      background-color: transparent;
      z-index: 1;
      transition: all ease-out .20s;
    }

    &:hover::before {
      background-color: $orange;
    }

    @media (--large-viewport) {
      float: left;
      width: 33.33%;
    }

    @media (--medium-viewport) {
      float: left;
      width: 50%;
    }

    .title {
      display: none;
    }

    .thumb {
      width: 100%;
      opacity: .8;
      transition: opacity ease-out .33s;
      cursor: pointer;
    }

      &:hover .thumb {
        opacity: 1;
      }

    .modal {
      display: none !important;
    }
  }
}

.modal {
  @mixin clearfix;

  .screenshot {
    width: 100%;
    height: auto;
  }

  @media (--large-viewport) {
    .screenshot {
      width: 60%;
      float: left;
    }

    .console {
      float: right;
      width: 40%;
      font-size: 13px;
      font-size: 1rem;
      vertical-align: top;
    }
  }
}

#lightcase {
  &-content {
    @nest #lightcase-case:not([data-lc-type=error]) & {
      background-color: #292929;
    }
  }

  &-nav {
    a[class*='lightcase-icon-'] {
      &,
      &:focus {
        color: $orange;
      }
    }
  }
}

.lightcase-inlineWrap {
  padding: 0 !important;
}
