-
  var creativeworks = [
    {
      title: 'Spissa',
      thumb: 'spissa/coffee-apple-iphone-laptop.jpg',
      screenshot: 'spissa/web-SPISSA.jpg'
    },
    {
      title: 'Mujica',
      thumb: 'landmujica/apple-iphone-desk-office.jpg',
      screenshot: 'landmujica/screenshot-landmujica.com-2016-09-24-16-16-06.jpg'
    },
    {
      title: 'Empirecuba',
      thumb: 'empirecuba/man-person-smartphone-technology.jpg',
      screenshot: 'empirecuba/screenshot-www.empirecuba.com-2016-09-24-17-02-52.jpg'
    },
    {
      title: 'Spissa',
      thumb: 'spissa/coffee-apple-iphone-laptop.jpg',
      screenshot: 'spissa/web-SPISSA.jpg'
    },
    {
      title: 'Empirecuba',
      thumb: 'empirecuba/man-person-smartphone-technology.jpg',
      screenshot: 'empirecuba/screenshot-www.empirecuba.com-2016-09-24-17-02-52.jpg'
    },
    {
      title: 'Mujica',
      thumb: 'landmujica/apple-iphone-desk-office.jpg',
      screenshot: 'landmujica/screenshot-landmujica.com-2016-09-24-16-16-06.jpg'
    },
    {
      title: 'Mujica',
      thumb: 'landmujica/apple-iphone-desk-office.jpg',
      screenshot: 'landmujica/screenshot-landmujica.com-2016-09-24-16-16-06.jpg'
    },
    {
      title: 'Empirecuba',
      thumb: 'empirecuba/man-person-smartphone-technology.jpg',
      screenshot: 'empirecuba/screenshot-www.empirecuba.com-2016-09-24-17-02-52.jpg'
    },
    {
      title: 'Spissa',
      thumb: 'spissa/coffee-apple-iphone-laptop.jpg',
      screenshot: 'spissa/web-SPISSA.jpg'
    },
  ]
